
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ASPBanHangOnline.Models.News>

@foreach (var item in Model)
{
    <!--Section: News of the day-->
<div class="row gx-5" style="max-width: 80%; margin-left: 50px">
  <div class="col-md-6 mb-4">
    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
      <img src="@item.NewsPhoto" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
    <h4><strong>@item.Title</strong></h4>
    <p class="text-muted">
      @item.Description
    </p>
    <a href="/News/Details/?NewsId=@item.NewsId" type="button" class="btn btn-primary">Read more</a>
  </div>
</div>
}
