@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ASPBanHangOnline.Models.Cart

<div class="card border-secondary mb-5">
    <div class="card-header bg-secondary border-0">
        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
    </div>
    <div class="card-body">
        <h5 class="font-weight-medium mb-3">Products</h5>
        @foreach (var item in Model.CartLines)
        {
        <div class="d-flex justify-content-between">
            <p>@item.Product.ProductName</p>
            <p>@item.Quantity</p>
            <p>@(item.Product.ProductPrice * (1-item.Product.ProductDiscount) * item.Quantity)</p>
        </div>
        }
        <hr class="mt-0">
        <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">$@Model.ComputeTotalPrice()</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">$10</h6>
        </div>
    </div>
    <div class="card-footer border-secondary bg-transparent">
        <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">$@(Model.ComputeTotalPrice() + 10)</h5>
        </div>
    </div>
</div>